<!DOCTYPE html>
<html lang="en">

<head>

    <meta name="description"
        content="Online jewellery store. Affordable prices, multiple payment options. One for every women." />
    <meta name="keywords" content="necklaces, earrings, rings, bracelets, pendants, engagement, adjustable, 
        pearl necklace, gold necklace, silver necklace, diamond necklace, diamond earrings, gold earrings, 
        pearl earrings, silver earrings, engagement rings, wedding rings, diamonds, diamond ring, adjustable ring, silver bracelet, red bracelet,
        coloured bracelet, string bracelet, gold pendant, silver pendant, zodiac pendant, zodiac, image, customizable, alphabet, heart, 
        heart pendant, message" />

    <title>Eroare 404</title>

    <script src="https://kit.fontawesome.com/f8dd27cc7a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
    <!-- <%- include("../fragmente/head.ejs")%> -->



</head>

<body>
    <%- include("../fragmente/header.ejs")%>

        <main>
            <p>Pare rau, n-am!</p>
        </main>
        <%- include("../fragmente/footer.ejs")%>


</body>

</html>