<!-- Fisier separat pentru footer -->
<footer>
    <div id="link-top" title="Link to the top of the page">
        <a href="#"></a>
        <div id="sageata">&#129081;</div>
    </div>
    <address>
        <a href="tel:+40773892693">Phone Number</a>
        <a href="mailto:atalium@store.com">Mail</a>
        <a href="https://goo.gl/maps/Kv2dacfMM54S8H3H8" target="_blank">Location</a>
        <a href="skype:AtaliumJewelleryStore?chat">Come chat with us</a>
    </address>
    <details id="aboutus">
        <summary>About Us</summary>
        <ol>
            <li>Foundation</li>
            <li>Privacy Policy</li>
            <li>Terms of Service</li>
            <li>Return Policy</li>
        </ol>
    </details>
    <details>
        <summary>Frequently asked questions</summary>
        <ol>
            <li>What about the warranty?</li>
            <li>Are they truly quality products?</li>
        </ol>
    </details>

    <p>
        <small>Copyright &copy;Ionita Roxana
            <time datetime="2022-10-15">15 Octombrie 2022</time></small>
    </p>
</footer>