<!-- Fisier separat pentru header -->

<header>

    <h1>Atalium Jewellery Store</h1>
    
<nav>
    <label id="hamburger" for="ch-menu">
        <img src="resources/images/Hamburger_icon_alb.png" alt="menu" />
    </label>
    <input id="ch-menu" type="checkbox" />
    <!--linia 40 face legatura intre hb image si casuta checked/unchecked-->
    <ul class="menu">
        <li>
            <div><i class="fa-solid fa-house"></i><span id="home">Home</span></div>

            <ul>
                <li><a href="/index#welcome">Welcome!</a></li>
                <li><a href="/index#discounts">Discounts</a></li>
                <li><a href="/index#announces">Announces</a></li>
                <li><a href="/index#orar">Orar</a></li>
                <li><a href="/index#questions">Questions</a></li>
                <li><a href="/index#helpful">Helpful</a></li>
                <li><a href="/index#statistics">Statistics</a></li>
            </ul>
        </li>
        <li><a href="#" id="ceva"><i class="fa-solid fa-right-to-bracket fa-fade" style="--fa-animation-duration: 2s; --fa-fade-opacity: 0.6;"></i>Register</a></li>

        <li>
            <div><i class="fa-regular fa-address-card"></i>About Us</div>
            <ul>
                <li><a href="/presentation">Presentation</a></li>
                <li><a href="/about us#motivation">Motivation</a></li>
                <li><a href="/galery">Galery</a></li>
            </ul>
        </li>
        <li>
            <div><i class="fa-solid fa-ring"></i>Products</div>
            <ul>
                <!-- <li><a href="#">All</a></li> -->
                <li><a href="necklaces.html" target="_blank">Necklaces</a></li>
                <li><a href="earrings.html" target="_blank">Earrings</a></li>
                <li><a href="rings.html" target="_blank">Rings</a></li>
                <li><a href="bracelets.html" target="_blank">Bracelets</a></li>
                <li><a href="pendants.html" target="_blank">Pendants</a></li>
            </ul>
        </li>
        <li><a href="#" id="ceva"><i class="fa-regular fa-address-book"></i>Contact</a></li>
    </ul>
</nav>
</header>
